<html>
    <head>
        <title>Finstagram</title>
    </head>
    <body>
        <h1>Hello, {{ username }}:)</h1>
        <div>
            <ul>
                <li><a href="/photos">View visible photos</a></li>
                <li><a href="/upload">Upload an Image</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><a href="/follow">Followers & Followees</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </body>
</html>