<!DOCTYPE html>
<html>

<head>

</head>

<body style="background-color:black;">
    <h1 style="color:lightpink;">Welcome to Finstagram :) cheers!</h1>
    <h4 style="color:lightcyan;">Log in if you already have an account.</h4>
	<a href="/login" style="color:white;">Click here to Login</a>
	<br>
    <h4 style="color:lightcyan;">Do not have a Finstagram account?</h4>
	<a href="/register" style="color:white;">Click here to Register</a>
    <p>\n</p>

    <h5 style="color:lightpink;">Created by Manxueying Li & Ellen Li :)</h5>
</body>

</html>
