<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finstagram</title>
</head>
<body>
    <h1>Visible Photos</h1>
    <table>
	<th>photoID</th>
	<th>photoPoster</th>

    {% for photo in photos %}
        <tr>
            <td><a href="/photos/{{photo.photoID}}">{{photo.photoID}}</td>
            <td>{{photo.photoPoster}}</td>
        </tr>
    {% endfor %}
    </table>

    {% if message %}
        {{ message }}
    {% endif %}

    <a href="/home">Go back</a>
    </body>
</html>