<html>
<head>
    <title>Register</title>
</head>
<body style="background-color:lightgreen;">
    <h1>Register :)</h1>
    <div>
        <form action="/registerAuth" method="POST">
            <input type="text" name = "username" placeholder="username" required/> <br/>
            <input type="password" name = "password" placeholder="password" required/><br/>
            <input type="text" name="fname" placeholder="First Name" required/><br/>
            <input type="text" name="lname" placeholder="Last Name" required/><br/>
            <input type="submit" value = Register />
        </form>
    </div>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
    <a href="/">Go back</a>
</body>
</html>
