<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finstagram</title>
</head>
<body>
    <h1>View Further Detail:</h1>
    <p><img src="/photo/{{photo.filepath}}" alt={{photo.photoID}}></p>
        <h4>Name:</h4> {{name.firstName}}, {{name.lastName}}
        <h4>Time stamp:</h4> {{photo.postingdate}}
{#                <br>Posted by {{image.photoOwner}}{% if settings.displayTimestamp %} on {{image.timestamp}}{% endif %}#}
{#    {% if tags.tagstatus != 0 %}<h4>Person being tagged:</h4>#}
{#        {% for tag in tags %}#}
{#            username: {{tag.username}}#}
{#            name: {{ tags.firstName }}, {{ tags.lastName }}#}
{#        {% endfor %}#}
{#    {% endif %}#}
        <h4>Caption: </h4>{{photo.caption}}

    {% if message %}
        {{ message }}
    {% endif %}

    <p><a href="/photos">Go back</a></p>
</body>
</html>